flask
gunicorn
nltk
spacy
transformers
torch
scikit-learn
pandas
numpy
matplotlib
seaborn
plotly
requests
pypdf
ollama==0.1.6
langchain==0.1.16
langchain_community==0.0.10
chromadb==0.4.22
unstructured==0.10.30
